body {
    background-color: #0e1117;
}

.chat-container {
    padding: 10px;
}

.user-message {
    background-color: #2563eb;
    padding: 10px;
    border-radius: 12px;
    margin: 6px 0;
    color: white;
    text-align: right;
}

.bot-message {
    background-color: #1f2937;
    padding: 10px;
    border-radius: 12px;
    margin: 6px 0;
    color: white;
    text-align: left;
}
/* Move mic near chat input */

